body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono', monospace;
}

a,
button {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header*/

header {
  width: 100%;
  height: 100px;
  background: #070f11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-menu {
  display: flex;
  align-items: center;
  width: 940px;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.bg-menu a {
  color: white;
}

.titulo a {
  font-size: 1.75rem;
  font-family: 'Righteous', 'IBM Plex Mono', monospace;
}
.titulo a::before {
  content: '</';
  color: #1cb798;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0 0 10px #1cb798;
  margin-right: 3px;
  font-family: 'IBM Plex Mono', monospace;
}

.titulo a::after {
  content: '>';
  color: #1cb798;
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 0 0 10px #1cb798;
  margin-left: 3px;
  font-family: 'IBM Plex Mono', monospace;
}

.titulo a:hover::before,
.titulo a:hover::after {
  animation: animationBarra infinite 0.7s;
}

.titulo a.ativo::before,
.titulo a.ativo::after {
  animation: animationBarra infinite 0.2s;
}

.menu a {
  font-size: 0.87rem;
  padding: 5px 0 6px 0;
  line-height: 20px;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li {
  margin-left: 40px;
}

.menu a::after {
  content: ' ';
  border-bottom: 1px solid white;
  display: block;
  width: 60px;
  margin: 0 auto;
}

.menu a:hover:after {
  border-bottom: 1px solid #1cb798;
  color: #1cb798;
}

.menu a:hover {
  color: #1cb798;
}

/*Apresentação*/

.bg-apresentacao {
  height: 510px;
  background: #1e2326;
  background: url('../img/fundoPincipal.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apresentacao {
  width: 940px;
}
.apresentacao h1 {
  font-size: 2.25rem;
  color: white;
}

.apresentacao h2 {
  color: #1cb798;
  font-size: 1.5rem;
  display: none;
}

.apresentacao h2.activo {
  display: block;
}

.apresentacao h2::after {
  content: '|';
  position: relative;
  animation: animationBarra infinite 1s;
  text-shadow: 0 0 10px #1cb798;
  font-size: 2rem;
  line-height: 1.5rem;
}

/*Sobre*/

.bg-sobre {
  background: #252a2e;
}

.sobre {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 940px;
  padding: 40px 0 65px;
  justify-content: space-between;
}

.sobre-info {
  text-align: center;
}

.sobre-info h2 {
  position: relative;
  color: white;
  font-family: 'Righteous', 'IBM Plex Mono', monospace;
  font-size: 2rem;
  letter-spacing: 2px;
}

.sobre-info h2::before {
  content: ' ';
  position: relative;
  border-bottom: 1px solid #1cb798;
  width: 80px;
  line-height: 42px;
  bottom: -50px;
  display: block;
  margin: 0 auto;
}
.sobre-info h2::after {
  content: ' ';
  border-bottom: 1px solid #1cb798;
  display: block;
  width: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

.sobre-info p {
  color: white;
  margin: 25px 10px 50px 0;
  font-size: 0.875rem;
  max-width: 460px;
}

.sobre-info a {
  border: 1px solid #1cb798;
  padding: 0.7rem 2rem;
  color: white;
  line-height: 20px;
}

.sobre-info a::after {
  content: url('../img/download-branco.svg');
  margin-left: 10px;
}
.sobre-info a:hover:after {
  content: url('../img/download.svg');
}
.sobre-info a:hover {
  background: #1cb798;
  color: #252a2e;
  font-weight: bold;
}

.sobre img {
  margin-left: 10px;
  width: 100%;
}

.sobre .divisor {
  border-left: 1px solid #1cb798;
  height: 200px;
  margin: 0 15px;
}

/*skills*/

.bg-skills {
  background: #1e2326;
  text-align: center;
}

.bg-skills h2 {
  color: white;
  font-family: 'Righteous', 'IBM Plex Mono', monospace;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-top: 40px;
}

.bg-skills h2::before {
  content: ' ';
  position: relative;
  border-bottom: 1px solid #1cb798;
  width: 80px;
  line-height: 42px;
  bottom: -50px;
  display: block;
  margin: 0 auto;
}
.bg-skills h2::after {
  content: ' ';
  border-bottom: 1px solid #1cb798;
  display: block;
  width: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 124px 0;
  border: none;
}

.skills-list h3 {
  padding-top: 20px;
  font-size: 1.125rem;
  color: white;
  font-weight: normal;
}

.skills-list h3::after {
  content: ' ';
  display: block;
  border-bottom: 2px solid #707070;
  width: 80px;
  margin: 0 auto;
  padding-top: 5px;
}

.skills-list {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px;
}

.skills-list li {
  height: 240px;
  width: 220px;
  background: #252a2e;
  margin: 25px 7px 0 7px;
}

.skills-list li img {
  width: 133px;
  height: 144px;
  padding-top: 20px;
  -webkit-filter: drop-shadow(0 0 10px #191e21);
  filter: drop-shadow(0 0 10px #191e21);
}

.skills-list li img:hover {
  width: 152px;
  height: 166px;
}

.bg-skills a {
  border: 1px solid #1cb798;
  padding: 0.7rem 2rem;
  color: white;
  position: relative;
  top: -65px;
  line-height: 0px;
}

.bg-skills a:hover {
  background: #1cb798;
  color: #252a2e;
  font-weight: bold;
}

/*projetos*/

.bg-projeto {
  background: #252a2e;
  text-align: center;
}

.bg-projeto h2 {
  color: white;
  font-family: 'Righteous', 'IBM Plex Mono', monospace;
  letter-spacing: 2px;
  font-size: 2rem;
  padding-top: 40px;
}

.bg-projeto h2::before {
  content: ' ';
  position: relative;
  border-bottom: 1px solid #1cb798;
  width: 80px;
  line-height: 42px;
  bottom: -50px;
  display: block;
  margin: 0 auto;
}

.bg-projeto h2::after {
  content: ' ';
  border-bottom: 1px solid #1cb798;
  display: block;
  width: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

.projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 0 20px 0;
}

.projetos ul {
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projetos ul li {
  height: 240px;
  width: 280px;
  background: #1e2326;
  margin: 0 25px 50px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.projetos ul li:nth-child(3n + 1) {
  margin: 0 25px 50px 0;
}

.projetos ul li:nth-child(3n + 3) {
  margin: 0 0 50px 25px;
}

.projetos ul li div {
  display: flex;
}

.projetos li div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.projetos li div span {
  color: white;
  font-size: 1rem;
  font-family: 'Righteous';
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0);
  flex-grow: 1;
  padding: 107px 0;
  z-index: 200;
}

.projetos li span:hover {
  color: white;
  background: rgba(28, 183, 152, 0.7);
  animation: animationProject forwards 0.3s;
}

.projetos span::after {
  content: ' ';
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-top: 5px;
}

.projetos span:hover:after {
  border-bottom: 2px solid white;
}

.projetos img {
  position: absolute;
}

/* contato */

.contato {
  background: #1e2326;
  color: white;
  text-align: center;
}

.contato h2 {
  padding-top: 40px;
  font-size: 2rem;
  font-family: 'Righteous', 'IBM Plex Mono', monospace;
}

.contato h2::before {
  content: ' ';
  position: relative;
  border-bottom: 1px solid #1cb798;
  width: 80px;
  line-height: 42px;
  bottom: -50px;
  display: block;
  margin: 0 auto;
}

.contato h2::after {
  content: ' ';
  border-bottom: 1px solid #1cb798;
  display: block;
  width: 40px;
  margin: 0 auto;
  margin-top: 20px;
}

.contato ul {
  padding: 25px 0 50px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.contato ul li {
  -webkit-filter: drop-shadow(0 0 10px #191e21);
  filter: drop-shadow(0 0 10px #191e21);
}

.contato ul li:hover {
  animation: animationContatos forwards 0.3s;
}

/* animações */

@keyframes animationBarra {
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@keyframes animationProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationContatos {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -10px, 0);
  }
}

/* responsivo */

@media only screen and (max-width: 1000px) {
  .apresentacao h1,
  .apresentacao h2 {
    margin: 0 10px;
  }
  .skills-list li {
    margin: 25px 10px 0 10px;
  }
  .projetos ul li:nth-child(3n + 1),
  .projetos ul li:nth-child(3n + 3),
  .projetos ul li {
    margin: 0 20px 40px 20px;
  }

  .projetos ul li:nth-child(2n + 1) {
    margin: 0 20px 40px 50px;
  }

  .projetos ul li:nth-child(2n + 2) {
    margin: 0 50px 40px 20px;
  }

  .projetos ul {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 700px) {
  .bg-apresentacao {
    height: 430px;
  }
  .apresentacao {
    text-align: center;
  }

  .projetos ul li:nth-child(3n + 1),
  .projetos ul li:nth-child(3n + 3),
  .projetos ul li:nth-child(2n + 2),
  .projetos ul li:nth-child(2n + 1),
  .projetos ul li {
    margin: 0 10px 30px 10px;
  }

  .menu ul li {
    margin-left: 0;
  }
  .titulo a {
    padding-top: 7px;
  }
}

@media only screen and (max-width: 600px) {
  .sobre {
    justify-content: center;
  }
  .sobre .img {
    display: none;
  }

  .sobre p {
    margin-left: 10px;
  }
  .sobre .divisor {
    display: none;
  }

  .apresentacao h1 {
    font-size: 1.75rem;
  }

  .apresentacao h2 {
    font-size: 1.25rem;
  }

  .apresentacao h2::after {
    font-size: 1.5rem;
  }
}

html,
body {
  overflow-x: hidden;
}
