[data-menu='button'] {
  display: none;
}

@media (max-width: 717px) {
  .bg-menu {
    display: block;
    margin: 0;
  }

  .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
  }

  .titulo a {
    padding: 0px;
  }
  /*button menu*/

  .js [data-menu='button'] {
    display: flex;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    padding: 0;
    background: transparent;
    margin-right: 15px;
  }

  .js [data-menu='button']::before {
    content: ' ';
    display: block;
    margin: 19px 0 0 5px;
    height: 3px;
    width: 30px;
    background: #1cb798;
    box-shadow: 0 10px #1cb798, 0 -10px #1cb798;
    transition: 0.3s;
  }

  .js [data-menu='button'].active::before {
    transform: rotate(-90deg);
    margin: 19px 0 0 18px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transition: 0.3s;
  }

  /* lista menu mobile */

  .js .menu {
    animation: animationMenuNone 0.5s forwards;
    display: none;
    position: absolute;
    top: 55px;
    background: #070f11;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
  }

  .js .menu.active {
    display: flex;
    animation: animationMenu 0.3s forwards;
  }

  .js .menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 15px;
  }

  .js .menu ul li {
    display: flex;
  }

  .js .menu ul li a {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  .menu a::after {
    content: ' ';
    border-bottom: 1px solid #1cb798;
    display: block;
    width: 160px;
    margin-top: 15px;
    box-shadow: 0 0 10px #1cb798;
  }

  .menu a:hover:after {
    width: 40px;
    transition: 0.3s;
  }

  @keyframes animationMenu {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 20px, 0);
    }
  }

  @keyframes animationMenuNone {
    from {
      opacity: 1;
      transform: translate3d(0, 20px, 0);
    }
    to {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
  }
}
