/* modal */

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal-projetos {
  background: white;
  width: 950px;
  padding: 10px;
  margin: 0 25px;
  border: 5px solid #1cb798;
  box-shadow: 0 0 0 10px #1e2326;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background: #1e2326;
  color: white;
  font-size: 0.875rem;
  animation: modal forwards 0.7s;
}

.modal-calcFood {
  display: none;
}

.modal-pjXclt {
  display: none;
}

.modal-tempo {
  display: none;
}

.modal-bikeCraft {
  display: none;
}

.modal-flexblog {
  display: none;
}

.modal-animais {
  display: none;
}

.modal-calcFood.ativo {
  display: flex;
}

.modal-pjXclt.ativo {
  display: flex;
}

.modal-tempo.ativo {
  display: flex;
}

.modal-bikeCraft.ativo {
  display: flex;
}

.modal-flexblog.ativo {
  display: flex;
}

.modal-animais.ativo {
  display: flex;
}

.modal-img {
  max-width: 570px;
}

.modal-img img {
  width: 100%;
}

.modal-info {
  display: block;
  max-width: 350px;
  margin: 0 10px;
  text-align: center;
}

.modal-info h2::before {
  content: ' ';
  position: relative;
  border-bottom: 1px solid #1cb798;
  width: 80px;
  line-height: 42px;
  bottom: -40px;
  display: block;
  margin: 0 auto;
}
.modal-info h2::after {
  content: ' ';
  border-bottom: 1px solid #1cb798;
  display: block;
  width: 40px;
  margin: 20px auto;
}

.modal-info p,
.modal-info div {
  max-width: 310px;
}

.modal-obs {
  margin-top: 20px;
}
.modal-obs::after {
  content: '';
  border-bottom: 1px solid #1cb798;
  display: block;
  margin: 10px auto;
  width: 100px;
}

.icons-linguagens img {
  width: 40px;
  margin: 0 7px;
}

.icons-linguagens::before,
.icons-linguagens::after {
  content: '';
  border-bottom: 1px solid #1cb798;
  display: block;
  margin: 15px auto;
  width: 100px;
}

.modal-info ul {
  line-height: 25px;
}

.modal-info a {
  color: #1cb798;
}

.modal-btn a {
  border: 1px solid #1cb798;
  padding: 0.7rem 2rem;
  color: white;
}

.modal-btn a:hover {
  background: #1cb798;
  color: #252a2e;
  font-weight: bold;
}

.modal-info ul li:nth-child(1) {
  margin-bottom: 20px;
}

.modal-info ul li:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 15px;
}

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #1cb798;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}

.fechar:hover {
  background: #e54;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 700px) {
  .modal-projetos.ativo {
    display: block;
    margin: 0;
    height: 100vh;
    border: none;
    box-shadow: none;
  }
  .modal-info h2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    padding-top: 20px;
    width: 200px;
    height: 50px;
  }

  .modal-info h2::after {
    margin-top: 10px;
  }

  .modal-info h2::before {
    bottom: -30px;
  }

  .modal-img {
    margin: 0 auto;
    max-width: 250px;
    padding: 60px 0 10px 0;
  }
  .modal-info {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 700px;
  }

  .modal-info p,
  .modal-info div {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .fechar {
    top: 20px;
    right: 15px;
  }
}
